<!-- <p>education works!</p> -->


<div id="EDUCATION">
    <h2 class="py-10 text-4xl italic font-semibold text-center text-teal-200 " [class.text-focus-in]="true">EDUCATION</h2>
   <div class="flex items-center justify-center w-full h-max" [class.flip-in-hor-bottom]="true">
    <div class="object-center relative flex w-full max-w-[35rem] flex-col rounded-3xl bg-white bg-clip-border text-gray-700 shadow-lg">
        <div class=" w-full" >
            <img class="h-60 rounded-2xl w-full" [src]="school" alt="school" >
        </div>
        <!-- <div class="flex items-center justify-center pt-3 mb-3">
            <h5 class="block font-sans text-xl antialiased font-medium leading-snug tracking-normal text-blue-gray-900">
              St. Theresa's.Matriculation.higher.secondary.school
            </h5>
        </div> -->
        <table class="text-xs " [class.text-focus-in]="true">
            <tbody><tr>
                <td class="px-2 py-2 text-sm font-semibold text-blue-800">School</td>
                <td class="px-2 py-2 text-sm">St. Theresa's.Matriculation.higher.secondary.school</td>
            </tr>
            <tr>
                <td class="px-2 py-2 text-sm font-semibold text-blue-800">SSLC</td>
                <td class="px-2 py-2 text-sm">82.6 %, 2017</td>
            </tr>
            <tr>
                <td class="px-2 py-2 text-sm font-semibold text-blue-800">HSC</td>
                <td class="px-2 py-2 text-sm">58.33%, 2019</td>
            </tr>
            <tr>
                <td class="px-2 py-2 text-sm font-semibold text-blue-800">College</td>
                <td class="px-2 py-2 text-sm">Jaya Engineering College</td>
            </tr>
            <tr>
                <td class="px-2 py-2 text-sm font-semibold text-blue-800">HSC</td>
                <td class="px-2 py-2 text-sm">6.8 CGPA, 2023 passed out</td>
            </tr>
        </tbody></table>   
    </div>
   </div>
  </div>
