.flip-in-hor-bottom{animation:flip-in-hor-bottom .5s cubic-bezier(.25,.46,.45,.94) both}

@keyframes flip-in-hor-bottom{0%{transform:rotateX(80deg);opacity:0}100%{transform:rotateX(0);opacity:1}}


.text-focus-in{animation:text-focus-in 1s cubic-bezier(.55,.085,.68,.53) both}

@keyframes text-focus-in{0%{filter:blur(12px);opacity:0}100%{filter:blur(0);opacity:1}}