
.text-focus-in{animation:text-focus-in 1s cubic-bezier(.55,.085,.68,.53) both}

@keyframes text-focus-in{0%{filter:blur(12px);opacity:0}100%{filter:blur(0);opacity:1}}

.slide-in{animation:slide-in-left .8s cubic-bezier(.25,.46,.45,.94) both}

@keyframes slide-in-left{0%{transform:translateX(-10000px);opacity:0}100%{transform:translateX(0);opacity:1}}


.slide-in-right{animation:slide-in-right .8s cubic-bezier(.25,.46,.45,.94) both}

@keyframes slide-in-right{0%{transform:translateX(10000px);opacity:0}100%{transform:translateX(0);opacity:1}}


.slide-in-bottom{animation:slide-in-bottom .5s cubic-bezier(.25,.46,.45,.94) both}

@keyframes slide-in-bottom{0%{transform:translateY(1000px);opacity:0}100%{transform:translateY(0);opacity:1}}
