<!-- <p>skills works!</p> -->


<div id="SKILLS" >
    <h2 class="py-10 text-4xl italic font-semibold text-center text-teal-200 " [class.text-focus-in]="true">SKILLS</h2>

        <div class="skills-page mx-5 mb-48 p-4 bg-slate-500 rounded-3xl w-auto" [class.slide-in-bottom]="true" >
        <div class="p-6 flex flex-col " >
            
           <div class="space-x-4">
        
                <section class="skill-section mb-8"  >
                <h2 class="text-xl font-semibold mb-2 text-orange-500 " [class.slide-in]="true">Web Development</h2>
                <ul class="list-disc text-xl pl-4 text-cyan-400" [class.slide-in]="true">
                    <li >HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                    <li>Angular</li>
                    <li>Tailwind CSS</li>
                </ul>
            </section>
        
            <section class="skill-section mb-8" >
                <h2 class="text-xl font-semibold mb-2 text-orange-500" [class.slide-in]="true">Design</h2>
                <ul class="list-disc text-xl pl-6 text-cyan-400" [class.slide-in-right]="true">
                    <li>Adobe Photoshop</li>
                </ul>
            </section>
            
        
        
                <section class="skill-section mb-8">
                    <h2 class="text-xl font-semibold mb-2 text-orange-500" [class.slide-in]="true">Programming Languages</h2>
                    <ul class="list-disc text-xl pl-6 text-cyan-400" [class.slide-in-right]="true">
                        <li>Java</li>
                        <li>Python</li>
                    </ul>
                </section>
            
                <section class="skill-section mb-8">
                    <h2 class="text-xl font-semibold mb-2 text-orange-500" [class.slide-in]="true">Mobile App Development</h2>
                    <ul class="list-disc text-xl pl-6 text-cyan-400" [class.slide-in-right]="true">
                        <li>Android Studio</li>
                    </ul>
                </section>
            
                <section class="skill-section">
                    <h2 class="text-xl font-semibold mb-2 text-orange-500" [class.slide-in]="true">Version Control</h2>
                    <ul class="list-disc text-xl pl-6 text-cyan-400" [class.slide-in-right]="true">
                        <li>GitHub</li>
                    </ul>
                </section>
            
           </div>
        </div>
        
        
    </div>
</div>

