
<nav class="sticky top-0 bg-indigo-600" >
  <div class="px-2 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div class="flex items-center justify-center flex-1 sm:items-stretch sm:justify-start"> 
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4 ">
              <div class="slide-in-left">
                  <img  [src]="portfolio" alt="" srcset="">
              </div>
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a href="#"  id="a1" class="px-3 py-2 text-sm font-medium text-gray-300 rounded-xl hover:bg-gray-700 hover:text-white " routerLink="profile">PROFILE</a>
            <a href="#" id="a2" class="px-3 py-2 text-sm font-medium text-gray-300  rounded-xl  hover:bg-gray-700 hover:text-white" routerLink="education">EDUCATION</a>
            <a href="#" id="a4"   class="px-3 py-2 text-sm font-medium text-gray-300 rounded-xl  hover:bg-gray-700 hover:text-white" routerLink="skill">SKILLS</a>
            <a href="#" id="a3"  class="px-3 py-2 text-sm font-medium text-gray-300  rounded-xl  hover:bg-gray-700 hover:text-white" routerLink="project">PROJECTS</a>
           
            <!-- <a href="#" id="a5"   class="px-3 py-2 text-sm font-medium text-gray-300 rounded-xl  hover:bg-gray-700 hover:text-white" routerLink="activities">ACTIVITIES</a> -->
            
            <a href="#"  id="a6"  class="px-3 py-2 text-sm font-medium text-gray-300 rounded-xl  hover:bg-gray-700 hover:text-white" routerLink="forcontact">FOR CONTACT</a>
          </div>
        </div>
      </div>
       
      </div>
    </div>
</nav>

<router-outlet></router-outlet>







